* {
 background-color: rgb(100,100,100);
 }

QComboBox {
 border-width: 1px;
 border-style: solid;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 padding: 2px;
 color: rgb(255,255,255);
 selection-background-color: rgb(0,0,0);
 selection-color: rgb(0,117,172);
 background-color: rgb(0,0,0);
 }
QComboBox::drop-down {
 width: 15px;
 border-width: 1px;
 border-color: rgb(0,0,0);
 border-style: solid;
 border-radius: 4px;
 }
QComboBox:down-arrow {
 image: url(:/pictures/resources/triangle_icon.png);
 }
QComboBox QAbstractItemView {
 color: rgb(255,255,255);
 border-width: 1px;
 border-style: solid;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 background-color: rgb(64,64,64);
 selection-background-color: rgb(2,117,172);
 selection-color: rgb(0,0,0);
 }
QComboBox QAbstractItemView::item {
 min-height: 24px;
 }
  
QLabel {
 color: rgb(255,255,255);
 border-width: 1px;
 border-style: solid;
 border-color: rgb(0,0,0);
 border-radius: 4px;
}

QLineEdit {
 background-color:rgb(0,0,0);
 color: rgb(255,255,255);
 selection-color: rgb(0,0,0);
 selection-background-color: rgb(2,117,172);
 border-style: solid;
 border-width: 1px;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 }
QLineEdit:hover {
 background-color:rgb(64,64,64);
 }
QLineEdit::disabled {
 background-color:rgb(100,100,100);
 }

QListView::item:selected {
 background-color: rgb(20,20,20);
 border-style: solid;
 border-color: rgb(0,0,0);
 color: rgb(255,255,255);
 }
QListView::item:hover {
 background-color: rgb(50,50,50);
 }

QMenu {
 background-color: rgb(200,200,200);
 border: 1px solid black;
 color: black;
 } 
QMenu::item:selected {
 background-color: rgb(100,100,100);
 color: white;
 }
QMenuBar {
 background-color: rgb(200,200,200);
 color: black;
 }
QMenuBar::item {
 spacing: 5px; /* spacing between menu bar items */
 padding: 5px 10px;
 background: transparent;
 }
QMenuBar::item:selected {
 background-color: rgb(100,100,100);
 color: white;
 }
QMenuBar::item:pressed {
 background-color: rgb(100,100,100);
 }

QPlainTextEdit::focus {
 background-color: rgb(20,20,20);
 border-color: rgb(100,100,100);
 }
QPlainTextEdit {
 background-color:rgb(0,0,0);
 color: rgb(200,200,200);
 selection-color: rgb(0,0,0);
 selection-background-color: rgb(255,255,255);
 border-style: solid;
 border-width: 2px;
 border-color: rgb(100,100,100);
 border-radius: 4px;
 }

QPushButton {
 color: rgb(255,255,255);
 background-color: rgb(2,117,172);
 border-style: solid;
 border-width: 1px;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 padding: 6px;
 }
QPushButton::disabled {
 background-color: rgb(64,64,64);
 }
QPushButton::pressed {
 background-color: rgb(2,80,117);
 }
QPushButton::checked {
 background-color: rgb(2,80,117);
}

QDoubleSpinBox {
 background-color:rgb(0,0,0);
 color: rgb(255,255,255);
 selection-color: rgb(0,0,0);
 selection-background-color: rgb(2,117,172);
 border-style: solid;
 border-width: 1px;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 }

QSpinBox {
 background-color:rgb(0,0,0);
 color: rgb(255,255,255);
 selection-color: rgb(0,0,0);
 selection-background-color: rgb(2,117,172);
 border-style: solid;
 border-width: 1px;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 min-width: 30px;
 }
QSpinBox::up-button {
 subcontrol-origin: border;
 subcontrol-position: top right;
 background-color: rgb(64,64,64);
 border-style: solid;
 border-width: 1px;
 border-color: rgb(0,0,0);
 border-radius: 2px;
 width: 10px;
 }
QSpinBox::up-button:pressed, QSpinBox::down-button:pressed {
 background-color: rgb(48,48,48);
 }
QSpinBox::down-button {
 subcontrol-origin: border;
 subcontrol-position: bottom right;
 background-color: rgb(64,64,64);
 border-style: solid;
 border-width: 1px;
 border-color: rgb(0,0,0);
 border-radius: 2px;
 width: 10px;
 }

QScrollBar:vertical {
 width: 20px;
 margin: 22px 0 22px 0;
 }
QScrollBar:horizontal {
 height: 20px;
 margin: 0 22px 0 22px;
 }
QScrollBar::handle:vertical {
 background: rgb(2,117,172);
 min-height: 20px;
 border-width: 1px;
 border-style: solid;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 margin: 0 2px 0 2px;
 }
QScrollBar::handle:horizontal {
 background: rgb(2,117,172);
 min-width: 20px;
 border-width: 1px;
 border-style: solid;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 margin: 2px 0 2px 0;
 }
QScrollBar::add-line:vertical {
 border: none;
 height: 20px;
 margin: 2px 2px 2px 2px;
 subcontrol-position: bottom;
 subcontrol-origin: margin;
 }
QScrollBar::add-line:horizontal {
 border: none;
 width: 20px;
 margin: 2px 2px 2px 2px;
 subcontrol-position: right;
 subcontrol-origin: margin;
 }
QScrollBar::sub-line:vertical {
 border: none;
 height: 20px;
 margin: 2px 2px 2px 2px;
 subcontrol-position: top;
 subcontrol-origin: margin;
 }
QScrollBar::sub-line:horizontal {
 border: none;
 width: 20px;
 margin: 2px 2px 2px 2px;
 subcontrol-position: left;
 subcontrol-origin: margin;
 }
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
 border-style: solid;
 border-width: 1px;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 background: rgb(64,64,64);
 color: rgb(64,64,64);
 margin: 1px 1px 1px 1px;
 }
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical, QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
 background: none;
 }

QGroupBox {
 border-width: 1px;
 border-style: solid;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 margin-top: 0.5em;
 }
QGroupBox::title {
 subcontrol-origin: margin;
 left: 10px;
 padding: 0 3px 0 3px;
 }

QSlider::groove:horizontal {
 border-width: 1px;
 border-style: solid;
 border-color: rgb(0,0,0);
 border-radius: 2px;
 height: 4px;
 background-color: rgb(64,64,64);
 }
QSlider::handle:horizontal {
 background: rgb(2,117,172);
 border: 1px solid rgb(0,0,0);
 width: 10px;
 margin:-7px -1px;
 border-radius: 4px;
 }
QSlider::groove:vertical {
 border-width: 1px;
 border-style: solid;
 border-color: rgb(0,0,0);
 border-radius: 2px;
 width: 4px;
 background-color: rgb(64,64,64);
 }
QSlider::handle:vertical {
 background: rgb(2,117,172);
 border: 1px solid rgb(0,0,0);
 height: 10px;
 margin:-1px -7px;
 border-radius: 4px;
 }

QLCDNumber {
 color: rgb(255,255,255);
 border-style: solid;
 border-color: rgb(0,0,0);
 border-width: 1px;
 border-radius: 4px;
 }

QTextEdit {
 border-width: 1px;
 border-style: solid;
 border-color: rgb(0,0,0);
 border-radius: 4px;
 selection-color: rgb(0,0,0);
 selection-background-color: rgb(2,117,172);
 color: rgb(255,255,255);
 }

QCheckBox {
 spacing: 5px;
 }
QCheckBox::indicator {
 width: 13px;
 height: 13px;
 border-style: solid;
 border-color: rgb(0,0,0);
 border-width: 1px;
 border-radius: 4px;
 }
QCheckBox::indicator:unchecked {
 background-color: rgb(64,64,64);
 }
QCheckBox::indicator:checked {
 background-color: rgb(2,117,172);
 }
QCheckBox::indicator:unchecked:pressed {
 background-color: rgb(48,48,48);
 }
QCheckBox::indicator:checked:pressed {
 background-color: rgb(2,80,117);
 }

QProgressBar {
 border-style: solid;
 border-color: rgb(0,0,0);
 border-width: 1px;
 border-radius: 4px;
 text-align: center;
 }
QProgressBar::chunk {
 background-color: rgb(2,117,172);
 width: 1px;
 border-style: solid;
 border-color: rgb(2,117,172);
 border-width: 0px;
 border-radius: 4px;
 }

QTabWidget::pane {
 border-style: solid;
 border-width: 1px;
 border-radius: 4px;
 border-color: rgb(0,0,0);
 }
QTabWidget::tab-bar {
 left: 5px;
 }
QTabBar::tab {
 background-color: rgb(64,64,64);
 color: rgb(255,255,255);
 border-style: solid;
 border-width: 1px;
 border-radius: 4px;
 border-color: rgb(0,0,0);
 min-width: 16ex;
 padding: 4px;
 }
QTabBar::tab:selected {
 background-color: rgb(2,117,172);
 color: rgb(255,255,255);
 }
